
<div class="container py-4">
  <div 
  style="background-color: #f3f1f1; padding: 24px 12px; border-radius: 8px;">

    <h1 >Welcome to our movie app</h1>
    <h2 class="mt-5 mb-5 fs-4">Millions of movies, TV shows and people to discover. Explore now.</h2>
  <app-search></app-search>
</div>
  <h2 class="mb-4 fw-bold mt-3">Popular Movies</h2>

  <!-- Loading spinner -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border text-warning" role="status"></div>
  </div>

  <!-- Error -->
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <!-- Movie grid -->
  <div class="row g-3 mb-4">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let m of movies">
      <app-movie-card [movie]="m"></app-movie-card>
    </div>
  </div>

  <!-- Pagination -->
  <nav *ngIf="totalPages > 1" aria-label="Movies pagination">
    <ul class="pagination justify-content-center">
      <!-- Previous -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button
          class="page-link bg-transparent border-0"
          (click)="prevPage()"
          [disabled]="currentPage === 1"
        >
          Previous
        </button>
      </li>

      <!-- Page numbers -->
      <li class="page-item" *ngFor="let page of getPages()">
        <button
          class="page-link border-0 rounded-circle"
          (click)="goToPage(page)"
          [ngStyle]="{
            'background-color':
              currentPage === page ? '#ffe353' : 'transparent',
            color: currentPage === page ? '#000' : '#333'
          }"
        >
          {{ page }}
        </button>
      </li>

      <!-- Next -->
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button
          class="page-link bg-transparent border-0"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
        >
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>
